In [23]:
import re
import pandas as pd
from pathlib import Path

In [12]:
dataset_path = Path().resolve().parent.parent / 'datasets'
ccd_path = dataset_path / 'ccd'

In [13]:
with open(ccd_path / 'Crash-1500.txt', 'r') as f:
    annotations = f.readlines()

In [21]:
data = []
for line in annotations:
    # Use regex to extract fields properly
    match = re.match(r"^(\d+),(\[.*?\]),(\d+),(\d+),(Day|Night),(Normal|Snowy|Rainy),(Yes|No)$", line.strip())
    if match:
        vidname = match.group(1)
        binlabels = eval(match.group(2))  # Safely evaluate the binary labels
        startframe = int(match.group(3))
        youtubeID = match.group(4)
        timing = match.group(5)
        weather = match.group(6)
        egoinvolve = match.group(7)
        
        data.append([vidname, binlabels, startframe, youtubeID, timing, weather, egoinvolve])

# Define columns and create DataFrame
columns = ['vidname', 'binlabels', 'startframe', 'youtubeID', 'timing', 'weather', 'egoinvolve']
df = pd.DataFrame(data, columns=columns)

,vidname,binlabels,startframe,youtubeID,timing,weather,egoinvolve
0,000001,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",285,0000,Day,Normal,Yes
1,000002,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",646,0000,Day,Normal,Yes
2,000003,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",972,0000,Day,Normal,Yes
3,000004,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1257,0000,Day,Normal,Yes
4,000005,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",462,0010,Day,Snowy,Yes
...,...,...,...,...,...,...,...
1495,001496,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2116,0169,Day,Snowy,Yes
1496,001497,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2591,0169,Day,Normal,Yes
1497,001498,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4798,0169,Day,Snowy,Yes
1498,001499,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",548,0170,Day,Snowy,No
1499,001500,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",799,0170,Day,Normal,Yes